
.dropdown {
  transition: transform 2s;
}
.dropdown .caret {
  transform: rotate(180deg);
}

.dropdown.open .caret {
  transform: rotate(0deg);
}

.dropdown-menu li a {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 4;
}

.caret {
  transition: all 0.3s;
}

.sub-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  top: -5px;
  left: 178px;
  transition: all .3s;
}

.sub-category {
  position: relative;
}

.sub-category:hover .caret{
  transform: rotate(-90deg);
}
.sub-category:hover > .sub-menu {
  display: block;
  left: 188px;
  visibility: visible;
  opacity: 1;
}

.form {
  display: block;
  max-width: 320px;
}

.form .wrapper  {
  padding: 1rem;
}